<form
  name="userSettingForm"
  #userSettingForm="ngForm"
  (ngSubmit)="onSubmit('userSettingForm')"
  *ngIf="currentState === 'USER_SETTING'"
  class="user-setting">

  <select
    name="selectedPersonLength"
    [(ngModel)]="selectedPersonLength"
    (change)="onChangeSelectedPersonLength()">

    <option
      *ngFor="let personSuggetion of personSuggetions"
      [ngValue]="personSuggetion">
      {{personSuggetion}}
    </option>
  </select>

  <ol>
    <li *ngFor="let user of users; index as i">
      <figure [ngStyle]="{ 'background-color': user.color}"></figure>

      <input
        type="text"
        name="user-{{i}}"
        [(ngModel)]="user.name">
    </li>
  </ol>

  <button type="submit">START</button>
</form>

<ol
  class="chars"
  *ngIf="currentState === 'ANSWER'">

  <li *ngFor="let c of chars">
    <span
      [ngClass]="{ 'is-exist': getAnswererColor(c) }"
      [ngStyle]="{ 'background-color': getAnswererColor(c)}">
      {{c}}
    </span>
  </li>
</ol>

<form
  name="answerForm"
  #answerForm="ngForm"
  (ngSubmit)="onSubmit('answerForm')"
  *ngIf="currentState === 'ANSWER'"
  class="answer">

  <ol>
    <li *ngFor="let item of history">
      <figure [ngStyle]="{ 'background-color': getUserColor('name', item.createdBy)}"></figure>
      <span>{{item.word}}</span>
    </li>
  </ol>

  <div>
    <h2>
      <figure [ngStyle]="{ 'background-color': getUserColor('name', getCurrentAnswerer().name)}"></figure>
      <span>{{getCurrentAnswerer().name}}</span>
    </h2>

    <input
      type="text"
      name="currentAnswer"
      [(ngModel)]="currentAnswer">

    <p>
      <span *ngIf="!this.isAnswerHiragana">答えはひらがなで入力してください<br /></span>
      <span *ngIf="!this.isShiritoriEstablished">しりとりが成立していません</span>
    </p>

    <button type="submit">送信</button>
  </div>
</form>
